<section
  class="flex flex-col md:flex-row items-stretch justify-center max-w-7xl mx-auto my-16 bg-white/90 p-12 box-border"
>
  <!-- Imagen izquierda -->
  <div class="md:w-1/2 w-full flex items-center justify-center p-4 md:p-8">
    <img
      src="images/historialangui.jpg"
      alt="La historia de la Tasca del Langui"
      class="w-full max-w-lg md:max-w-full object-cover"
    />
  </div>
  <!-- Texto derecha -->
  <div class="md:w-1/2 w-full flex flex-col justify-center p-8">
    <h2
      class="text-black text-4xl md:text-5xl font-normal tracking-wide text-balance whitespace-normal max-w-2xl mx-auto text-center leading-tight"
    >
      LA HISTORIA DE LA<br />
      TASCA DEL LANGUI
    </h2>

    <hr class="border-gray-400 mb-4" />
    <p class="text-gray-700 text-base md:text-lg mb-4">
      Juan Manuel Montilla, conocido como 'El Langui', es un artista
      polifacético: música, cine, radio, televisión, ganador de dos premios
      Goya… y un disfrutón de la gastronomía.
    </p>
    <p class="text-gray-700 text-base md:text-lg mb-4">
      Desde los 10 años ha pasado sus veranos en Cádiz y, a partir de los 18, en
      Málaga, donde su vida está muy ligada a la Costa del Sol, compartiendo
      esta tierra con su familia.
    </p>
    <p class="text-gray-700 text-base md:text-lg">
      De este arraigo y amor por la región nace La Tasca del Langui, un lugar
      que no solo lleva su nombre, sino que también comparte su pasión por la
      buena comida y el carisma único de 'El Langui', creando un ambiente ideal
      para disfrutar con amigos y familia.
    </p>
  </div>
</section>
